[Desktop Entry]
Name=OpenFoodFacts
Exec=openFoodFacts %u
Icon=OpenFoodFacts.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

Name[en_US]=OpenFoodFacts
