[Desktop Entry]
Name=Open Food Facts
Exec=openFoodFacts %u
Icon=OpenFoodFacts.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

Name[fr_FR]=Open Food Facts
